@import 'tailwindcss';
@import './_variables.css';

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Inter, sans-serif;
}


.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
}

.scroll-thin {
    overflow-y: auto;
}

.scroll-thin::-webkit-scrollbar {
    width: 4px;
}

.scroll-thin::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-thin::-webkit-scrollbar-thumb {
    background: #dfdfdf;
}

.scroll-thin::-webkit-scrollbar-button {
    display: none;
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}

.typing {
    display: inline-flex;
    gap: 4px;
}

.typing span {
    width: 6px;
    height: 6px;
    background: #000000;
    border-radius: 50%;
    animation: blink 1.4s infinite both;
}

.typing span:nth-child(2) {
    animation-delay: 0.2s;
}
.typing span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% { opacity: 0.2 }
    20% { opacity: 1 }
    100% { opacity: 0.2 }
}
